[Desktop Entry]
Version=1.0
Name=Heimdall
Type=Application
Comment=Samsung Galaxy Firmware Tool
Terminal=false
Exec=heimdall-frontend
Icon=heimdall
Categories=System;
GenericName=Heimdall
